<div class="container">
  <div class="header">
    <div class="col-md-9 header-left">
      <div class="top-nav">
        <ul class="memenu skyblue">
          <ul class="active"><a href="/">Номе</a></ul>
        </ul>

        <% Category.roots.each do |category| %>
          <% cache category do %>
            <li class="grid">
              <%= link_to category.title, "/category/#[category.id" %>
              <% if category.children.present? %>
                <div class="mepanel">
                  <div class="row">
                    <div class="col me-one">
                      <%= render "include/menu/menu", category: category, cached: true %>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3 header-right">

    </div>
    <div class="clearfix"></div>
  </div>
</div>
