default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: username
  password: 123456
  host: localhost
  port: 5432

development:
  <<: *default
  database: watch_shop_development

test:
  <<: *default
  database: watch_shop_test

production:
  <<: *default
  database: watch_shop_production

